@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

body {
  font-family: sans-serif;
  width: 100%;
  height: auto;
  background-color: rgb(241, 240, 238);
  color: rgb(7, 5, 5);
  padding-left: 30%;
  padding-right: 30%;
}

#heading {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  max-width: 750px;
  margin: auto;
  padding: 10px;
}

#title {
  font-size: 43px;
  text-align: center;
  line-height: 2;
  padding: 5px;
}

#description {
  font-size: 25px;

  padding: 2px;
}

#survey-form {
  background-color: #f1dbc3;
  padding: 3px 4px;
  border-radius: 7px;
}

#submit {
  background: #0619e9;
  color: #fff;
  padding: 10px;
  font-size: 15px;
}
#end {
  font-size: 20px;
}
#fr {
  padding-left: 15%;
}
.form {
  width: 30%;
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
  padding-left: 35%;
  padding-right: 35%;
}
#button {
  padding-left: 35%;
}
